.start_position{
	margin-top: 113px;
}


.div_content{
	background-color: #999998;
	width: 100%;
	height: 90%;
	margin-top:50px;
	padding: 100px;
	
	text-align: center;
}

h1{
	padding: 40px;
	text-align: center;
	font-size: 87px;
}

.btn{
	
}